<section class="team">
    <div class="container">
        <ul>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente enim illum similique, voluptatem corporis voluptas obcaecati sequi consequatur at repellendus. Animi deserunt error cum officiis delectus voluptate debitis ducimus iure?</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nobis eius fugit ipsam nostrum, magnam dolor sit maiores. Corrupti incidunt fugiat amet aliquam atque dolores voluptatibus quaerat placeat animi officiis.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nobis eius fugit ipsam nostrum, magnam dolor sit maiores. Corrupti incidunt fugiat amet aliquam atque dolores voluptatibus quaerat placeat animi officiis.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nobis eius fugit ipsam nostrum, magnam dolor sit maiores. Corrupti incidunt fugiat amet aliquam atque dolores voluptatibus quaerat placeat animi officiis.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nobis eius fugit ipsam nostrum, magnam dolor sit maiores. Corrupti incidunt fugiat amet aliquam atque dolores voluptatibus quaerat placeat animi officiis.</li>
        </ul>
    </div>
</section>